body {
  margin: 0;
  padding: 0;
}

.content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .main {
    position: relative;
    height: 100%;

    .header {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
      border-bottom: 1px solid lightgray;

      img {
        width: 16%;
      }
    }

    .page-content{
      margin: 10px 20px;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: gray;
      color: white;

      p {
        width: 100%;
        text-align: center;
        padding: 5px 20px;
        margin: 0;
        box-sizing: border-box;
      }
    }
  }
}