body {
  margin: 0;
  padding: 0; }
  body a {
    text-decoration: none;
    color: black; }
  body li {
    list-style: none; }

.content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .content .main {
    position: relative;
    height: 100%; }
    .content .main .header {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
      border-bottom: 1px solid lightgray; }
      .content .main .header img {
        width: 16%; }
    .content .main .page-content {
      margin: 20px; }
      .content .main .page-content .col {
        width: 50%; }
      .content .main .page-content .drop-down .head {
        padding: 5px 10px;
        background-color: lightgray;
        display: block; }
      .content .main .page-content .drop-down ul {
        padding: 0;
        margin: 0;
        border: 1px solid lightgray; }
        .content .main .page-content .drop-down ul .list-item a {
          padding: 5px 10px;
          display: block;
          width: 100%;
          box-sizing: border-box; }
        .content .main .page-content .drop-down ul .list-item:hover {
          background-color: #F2F1F1; }
    .content .main .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: gray;
      color: white; }
      .content .main .footer p {
        width: 100%;
        text-align: center;
        padding: 5px 20px;
        margin: 0;
        box-sizing: border-box; }
